In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
path = os.getcwd()

# find all the txt files
files = []
for r, d, f in os.walk(path):
    for file in f:
        if '.txt' in file:
            files.append(os.path.join(r, file))
files = sorted(files, key=lambda x: (x.split('/')[-1].split('.')[0][:2], int(x.split('/')[-1].split('.')[0][2:])))

# read all the txt files    
marker_list = []
for f in files:
    with open(f, 'r') as file:
        marker_list.append(file.read().splitlines())

In [3]:
all_markers = []
for markers in marker_list:
    for marker in markers:
        marker = marker.upper()
        if marker == 'HLA-DR':
            marker = 'HLADR'
        elif marker == 'DAPI-02' or marker == 'DAPI01':
            marker = 'DAPI'
        elif marker == 'COLL4' or marker == 'COLLAGENIV':
            marker = 'COLLLV'
        elif marker == 'PODOPIANIN':
            marker = 'PODOPLANIN'
        elif marker == 'SYNAPTO':
            marker = 'SYNPO'
        elif marker =='HOECHST1':
            marker = 'HOECHST'
        if marker not in all_markers:   
            all_markers.append(marker)

all_markers.sort()

In [4]:
all_markers

['ADEF5',
 'AQP1',
 'AQP2',
 'ASMA',
 'BCL2',
 'CALBINDIN',
 'CD104',
 'CD107A',
 'CD117',
 'CD11C',
 'CD123',
 'CD127',
 'CD138',
 'CD147',
 'CD15',
 'CD154',
 'CD16',
 'CD161',
 'CD163',
 'CD19',
 'CD1C',
 'CD20',
 'CD206',
 'CD21',
 'CD25',
 'CD271',
 'CD278',
 'CD279',
 'CD294',
 'CD3',
 'CD3 ',
 'CD31',
 'CD34',
 'CD35',
 'CD36',
 'CD38',
 'CD3E',
 'CD4',
 'CD44',
 'CD45',
 'CD45RA',
 'CD45RO',
 'CD49A',
 'CD49F',
 'CD5',
 'CD56',
 'CD57',
 'CD66',
 'CD68',
 'CD69',
 'CD7',
 'CD8',
 'CD9',
 'CD90',
 'CD98',
 'CDX2',
 'CHGA',
 'CK7',
 'COLLLV',
 'CX7',
 'CXCR5',
 'CYTOKERATIN',
 'DAPI',
 'DEAQ5',
 'DRAQ5',
 'ECAD',
 'FAP',
 'FOXP3',
 'GATA3',
 'HLADR',
 'HOECHST',
 'ITLN1',
 'KI67',
 'LEFTY',
 'LGM',
 'LYVE-1',
 'MUC1',
 'MUC2',
 'MUC6',
 'NKG2D',
 'OLFM4',
 'PANCK',
 'PGP95',
 'PODOPLANIN',
 'PROX1',
 'SMACTIN',
 'SOMATOSTATIN',
 'SOX9',
 'SYNPO',
 'THP',
 'VIMENTIN']

In [5]:
# create a dataframe where each row is a marker, each column is a dataset(each txt file), and each entry is whether this dataset has this marker or not
files_name = []
for f in files:
    files_name.append(f.split('.')[0].split('/')[-1])
df = pd.DataFrame(columns = files_name, index = all_markers)

In [6]:
for i, markers in enumerate(marker_list):
    for marker in markers:
        marker = marker.upper()
        if marker == 'HLA-DR':
            marker = 'HLADR'
        elif marker == 'DAPI-02' or marker == 'DAPI01':
            marker = 'DAPI'
        elif marker == 'COLL4' or marker == 'COLLAGENIV':
            marker = 'COLLLV'
        elif marker == 'PODOPIANIN':
            marker = 'PODOPLANIN'
        elif marker == 'SYNAPTO':
            marker = 'SYNPO'
        elif marker =='HOECHST1':
            marker = 'HOECHST',
        df.loc[marker, files_name[i]] = 1

In [7]:
df

             KI31 LI46 LI54 LI56 LI59 LN11 LN29 LN32 LN33 LN34 LN35 SI46
ADEF5         NaN  NaN    1    1    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN
AQP1            1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
AQP2            1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
ASMA          NaN    1    1    1    1  NaN  NaN  NaN  NaN  NaN  NaN    1
BCL2          NaN    1    1    1    1  NaN  NaN  NaN  NaN  NaN  NaN    1
...           ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
SOMATOSTATIN  NaN  NaN  NaN  NaN    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN
SOX9          NaN    1    1    1    1  NaN  NaN  NaN  NaN  NaN  NaN    1
SYNPO           1  NaN    1    1    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN
THP             1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
VIMENTIN      NaN    1    1    1    1  NaN    1    1    1    1    1    1

[91 rows x 12 columns]

In [8]:
# highlight entries that are 1
def highlight_ones(s):
    '''
    highlight the entries that are 1
    '''
    is_one = s == 1
    return ['background-color: yellow' if v else '' for v in is_one]

In [9]:
for name in files_name:
    assert df[name].sum() == int(name[-2:])

df = df.iloc[:, :-1]
df.style.apply(highlight_ones, axis = 1)

In [10]:
df.style.apply(highlight_ones, axis = 1).to_html('marker_list.html')

In [11]:
# chosen markers in LN29
idx = [21, 10, 25, 3, 22, 28, 17, 5, 4, 24, 1, 14]
idx2 = [0, 2, 6, 7, 8, 9, 11, 12, 13, 15, 16, 18, 19, 20, 23, 26, 27]

with open('LN29.txt', 'r') as file:
    LN29 = file.read().splitlines()
chosen_markers_LN29 = [LN29[i] for i in idx]
chosen_markers_LN29

['FoxP3',
 'CD3e',
 'PanCK',
 'CD163',
 'HLA-DR',
 'Vimentin',
 'CD8',
 'CD20',
 'CD1c',
 'LYVE-1',
 'CD11c',
 'CD45RO']

In [12]:
# chosen markers in SP29
idx = [15, 19, 27, 7, 2, 28, 5]
idx2 = [0, 1, 3, 4, 6, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26]

chosen_markers_SP29 = [LN29[i] for i in idx]
chosen_markers_SP29

['CD5', 'DAPI-02', 'SMActin', 'CD31', 'CD15', 'Vimentin', 'CD20']

In [13]:
# chosen markers in LI46 basic
idx = [3, 18, 0, 28, 41, 7, 34, 44, 17, 25, 36, 27, 6, 14, 40, 13, 23, 37, 8, 32, 24, 15, 11]
idx2 = [1, 2, 4, 5, 9, 10, 12, 16, 19, 20, 21, 22, 26, 29, 30, 31, 33, 35, 38, 39, 42, 43, 45]
with open('LI46.txt', 'r') as file:
    LI46 = file.read().splitlines()
chosen_markers_LI46_basic = [LI46[i] for i in idx]
chosen_markers_LI46_basic

['CD16',
 'CD49a',
 'Hoechst',
 'aSMA',
 'Vimentin',
 'CD90',
 'CD57',
 'SOX9',
 'ITLN1',
 'CDX2',
 'CD44',
 'MUC1',
 'CD127',
 'Cytokeratin',
 'CD45RO',
 'CD34',
 'CD19',
 'HLADR',
 'CD4',
 'CD3',
 'CD66',
 'CD206',
 'CD68']

In [14]:
# chosen markers in LI46 2panel
idx = [22, 17, 18, 2, 7, 34, 28, 37, 41, 44, 36, 8, 20, 43, 27, 0, 25, 35] 
idx2 = [1, 3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 19, 21, 23, 24, 26, 29, 30, 31, 32, 33, 38, 39, 40, 42, 45]
with open('LI46.txt', 'r') as file:
    LI46 = file.read().splitlines()
chosen_markers_LI46_2panel = [LI46[i] for i in idx]
chosen_markers_LI46_2panel

['CD8',
 'ITLN1',
 'CD49a',
 'DRAQ5',
 'CD90',
 'CD57',
 'aSMA',
 'HLADR',
 'Vimentin',
 'SOX9',
 'CD44',
 'CD4',
 'CD15',
 'CD21',
 'MUC1',
 'Hoechst',
 'CDX2',
 'CD56']

In [15]:
# chosen markers in SI46 basic
idx = [35, 29, 39, 38, 7, 28, 18, 12, 34, 11, 24, 32, 26, 0, 4, 37, 36, 14, 9, 30, 42, 10, 3]
idx2 = [1, 2, 5, 6, 8, 13, 15, 16, 17, 19, 20, 21, 22, 23, 25, 27, 31, 33, 40, 41, 43, 44, 45]
with open('SI46.txt', 'r') as file:
    SI46 = file.read().splitlines()
chosen_markers_SI46_basic = [SI46[i] for i in idx]
chosen_markers_SI46_basic

['CD68',
 'CD45RO',
 'CD4',
 'SOX9',
 'aSMA',
 'Ki67',
 'CD3 ',
 'CD90',
 'Cytokeratin',
 'CD44',
 'CD49a',
 'MUC2',
 'CD49f',
 'Hoechst1',
 'CD31',
 'CD38',
 'ITLN1',
 'CD45',
 'CD16',
 'CD138',
 'CD66',
 'CD21',
 'CD206']

In [16]:
# chosen markers in SI46 2panel
idx = [34, 43, 35, 18, 14, 36, 22, 44, 30, 42, 10, 15, 21, 20, 0, 3, 6, 9] 
idx2 = [1, 2, 4, 5, 7, 8, 11, 12, 13, 16, 17, 19, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 37, 38, 39, 40, 41, 45]
chosen_markers_SI46_2panel = [SI46[i] for i in idx]
chosen_markers_SI46_2panel

['Cytokeratin',
 'CDX2',
 'CD68',
 'CD3 ',
 'CD45',
 'ITLN1',
 'CD36',
 'CD163',
 'CD138',
 'CD66',
 'CD21',
 'BCL2',
 'CD69',
 'CD34',
 'Hoechst1',
 'CD206',
 'CX7',
 'CD16']

In [17]:
experiment_name = ['LN29', 'SP29', 'LI46_basic', 'LI46_2panel', 'SI46_basic', 'SI46_2panel']

In [18]:
df2 = pd.DataFrame(columns = experiment_name, index = all_markers)

In [19]:
df2

             LN29 SP29 LI46_basic LI46_2panel SI46_basic SI46_2panel
ADEF5         NaN  NaN        NaN         NaN        NaN         NaN
AQP1          NaN  NaN        NaN         NaN        NaN         NaN
AQP2          NaN  NaN        NaN         NaN        NaN         NaN
ASMA          NaN  NaN        NaN         NaN        NaN         NaN
BCL2          NaN  NaN        NaN         NaN        NaN         NaN
...           ...  ...        ...         ...        ...         ...
SOMATOSTATIN  NaN  NaN        NaN         NaN        NaN         NaN
SOX9          NaN  NaN        NaN         NaN        NaN         NaN
SYNPO         NaN  NaN        NaN         NaN        NaN         NaN
THP           NaN  NaN        NaN         NaN        NaN         NaN
VIMENTIN      NaN  NaN        NaN         NaN        NaN         NaN

[91 rows x 6 columns]

In [20]:
for exp in experiment_name:
    for marker in eval('chosen_markers_'+exp):
        marker = marker.upper()
        if marker == 'HLA-DR':
            marker = 'HLADR'
        elif marker == 'DAPI-02' or marker == 'DAPI01':
            marker = 'DAPI'
        elif marker == 'COLL4' or marker == 'COLLAGENIV':
            marker = 'COLLLV'
        elif marker == 'PODOPIANIN':
            marker = 'PODOPLANIN'
        elif marker == 'SYNAPTO':
            marker = 'SYNPO'
        elif marker =='HOCECHST1':
            marker = 'HOECHST'
        df2.loc[marker, exp] = 1

In [21]:
df2.style.apply(highlight_ones, axis = 1)

In [106]:
df2.style.apply(highlight_ones, axis = 1).to_html('chosen_markers.html')